body{
    margin: 0;
    padding: 0;
}

table,
div {
    border: 10px solid #000000;/*
    border-collapse: separate;*/
    border-image: url("../../img/border.png") 42 round ;
    border-spacing: 0px;
}
td{
    border: 4px groove #05ee00;
    text-align: center;
}
.height{
    height:300px;
}