*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
div{
    height: 30vh;
    width: 30vw;
    background-color: aqua;
    border-radius: 10%;
    padding-top: 60px;
    box-sizing: border-box;
}