body {
    margin: 0;
    padding: 0;
    background-color: #f00;
}
.box {
    height: 250px;
    width: 48%;
    box-sizing: border-box;
    border: 1px solid red;
    float: left;
    margin: 1%;
}
.box1{
    background-color: #0ff;
}
.box2{
    background-color: #ff0;
}
.box3{
    background-color: #0f0;
    /*margin: 0 -2%;*/
    /*overflow: hidden;*/
}
.box4{
    background-color: #f0f;
    /*flo*/
}

.box_inside{
    box-sizing: border-box;
    width: 48%;
    height: 105px;
    /*border: 1px solid green;*/
    float: left;
    background-color: #fce38a;
    margin: 10px 1%;
}
main::after{
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}
.box_in_box{
    margin: 0 -2%;
    overflow: hidden;
}