*{
    padding: 0;
    margin: 0;
}
/*header*/
.header{
    height: 100vh;
    background: url("../../../homework/6lesson/img/head_bg.jpg") no-repeat center;
    background-size: cover;
}
.logo{
    width: 12vh;
    height: 5vh;
    background: url("../../../homework/6lesson/img/logo.png") no-repeat;
}
nav>ul{
    list-style: none;
    display: flex;
}
nav>ul{
    flex-wrap: wrap;
}
nav>ul>li>a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family: 'Arial', serif;
    font-weight: 400;
    font-size: 0.875em;
    padding-left: 40px;
}
.logo_nav{
    padding-top: 60px;
    display: flex;
    justify-content: space-evenly;
}
header h3{
    padding-bottom: 4vh;
    font-family: Arial, serif;
    font-size: 2.45em;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.caption{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}
header h1{
    font-family: Arial, serif;
    font-size: 4em;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 4vh;
    text-align: center;
}
.btn {
    background-color: #fed136;
    border: none;
    border-radius: 5px;
    padding: 2vh 3vw;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.btn:hover {
    background: #f09136;
}
/*sectionone*/
.sectionOne{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 568px;
    /*width: 100%;*/
    flex-direction: column;
}
.sectiononebox2{
    display: flex;
    justify-content: space-evenly;
}
.sectiononebox2 p{
    font-family: Arial, serif;
    font-size: 0.9em;
    color:#777;
    padding-top: 2vh;
    font-weight: 400;
}
.sectiononebox2 h4{
    font-family: Arial, serif;
    font-size: 1.1em;
    color: #222;
    font-weight: bold;
}
.sectiononebox1 h2{
    font-family: Arial, serif;
    font-size: 2.5em;
    color: #222222;
    font-weight: bold;
    text-transform: uppercase;
}
.sectiononebox1>p{
    padding-top: 7vh;
    font-family: Arial, serif;
    font-size: 1em;
    font-weight:  400;
}
.sectiononebox2>div{
    width: 30vw;
}
/*secionthird*/
.sectionsecond{
    background-color: #f7f7f7;
    height: 695px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.sectionsecond h2{
    font-family: Arial, serif;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.sectionsecondbox1 p{
    font-family: Arial, serif;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    color: #777;
}
.sectionthirdbox1{
    background-color: #ffffff;
    height: auto;
    padding: 10vh 0;
}
.sectionthirdbox1 h2{
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial, serif;
    text-align: center;
}
.sectionthirdbox1 p{
    font-family: Arial, serif;
    font-weight: 400;
    font-size: 1em;
    color: #777;
    text-align: center;
}
.sectionthirdbox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.content1{
    display: flex;
    align-items: center;
    margin-top: 2vh;
}
.content2 {
    display: flex;
    align-items: center;
    margin-top: 2vh;
}
.sectionthirdbox2 p {
    position: absolute;
    margin: 0 2vw;
    text-align: justify;
    color: #777;
    font-family: Arial, serif;
    font-size: 0.9em;
    width: 30vw;
}
.sectionthirdbox2 p:nth-child(1){
    margin-left: -35%;
}
.sectionthirdbox2 p:nth-child(2n){
    margin-left: 20vw;
}
.sectionthirdbox2:last-child {
    padding-bottom: 10vh;
}
.sectionthirdbox2 img{
    height: 20vh;
}
/*footer*/
footer{
    font-family: Arial, serif;
    font-weight: 400;
    font-size: 0.9em;
    color: #777;
    background-color: #f7f7f7;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}