*{
    padding: 0;
    margin: 0;
}
header{
    background: url("../img/headerbackground.jpg") center;
    background-size: cover;
}
.headermain {
    height:1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0px;
}
.topheader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerfooter{
    width:100%;
}
nav ul{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.logo{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}
.logo span{
    text-transform: uppercase;
}
.navigation ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 800;
    display: flex;
    padding-bottom: 10px;
}
li{
    list-style: none;
}
.headerH{
    color:#fff;
    text-align: center;
}
.headerH  a{
    text-decoration: none;
    color:#fff;
}
.headerH h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
}
.headerH h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: 800;
}
.learnmore{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 10px 27px;
    border: 3px solid #fff;
    width: 150px;
    margin: 45px auto;
}
.headerfooter ul li a{
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    text-decoration: none;
}
.headerfooter a span{
    font-size: 24px;
    font-weight: bold;
}
.headerfooter ul li {
    border-top: 3px solid rgba(255, 255, 255, 0.4);
}
.headerfooter ul{
    display: flex;
    justify-content: space-between;
}
.headerfooter li{
    width:20%
}
.ulnav a:hover{
    border-bottom: 3px solid #fce38a;
    color: #fce38a;
}
.ulnav a:hover{
    margin-top: 3px;
}
.headerfooter ul li a:hover {
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    text-decoration: none;
}
.headerfooter ul li:hover {
    border-top: 3px solid rgba(243, 129, 129, 0.9);
}
h1{
    text-transform: uppercase;
}
.sectionfirst{
    background-color: #fff;
    height: 750px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.sectionfirstimage1{
    background:url("../img/section1image1.png");
    height: 250px;
    width: 380px;
}
.sectionfirstimage2{
    background:url("../img/section1-image2.png") center ;
    height: 250px;
    width: 380px;
    background-size: cover;
}
.sectionfirstimage3{
    background:url("../img/section1image3.png") ;
    height: 250px;
    width: 380px;
}
.firstimage{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.lorem{
    width: 940px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.sectionfirst{
    text-align: center;
}
.sectionfirst h4{
    font-family: 'Kaushan Script', cursive;
    font-size: 24pt;
}
.sectionfirst p{
    font-family: 'Montserrat', sans-serif;
    font-size: 38pt;
    font-weight: bold;
    text-align: center;
}
.sectionfirst hr{
    width: 50px;
    align-items: center;;

}
.backgroundaqua:hover{
    margin-top: -10px;
    background: none #95e1d3;
}
.sectionsecond{
    background-color: #95e1d3;
    height:270px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #fff;
}
.sectionsecond h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 72pt;
    font-weight: bold;
}
.sectionsecond p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    font-weight: 400;
    text-transform: uppercase;
}

